* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Grandstander', cursive;
    color: #231651;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ START SCREEN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
#start-screen {
    background-color: #FF8484;
    accent-color: #4DCCBD;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

#fast-mode {
    font-weight: 100;
    margin-top: 0.5vmin;
}

#start-screen>h1 {
    margin-top: 30vh;
    font-size: 4em;
    font-weight: 900;
    -webkit-text-stroke-width: 0.05em;
    -webkit-text-stroke-color: #231651;
    color: #2374AB;
}

#start-screen img {
    color: #231651;
}

#game-mode {
    font-size: 1.5em;
}

#difficulty {
    display: flex;
    align-items: center;
}

#dif-msg {
    width: 20vh;
    text-align: center;
}

#left,
#right {
    padding: 0 2vh;
}

#left:hover,
#right:hover,
#play-btn,
#fast-check,
#game-mode *,
#show-instructions:hover {
    cursor: pointer;
}

#left:active,
#right:active {
    color: #2374AB;
    padding: 0 2vh;
    transform: scale(1.15);
    transition: scale 50ms ease-in;
}

#play-btn {
    font-size: 1.5em;
    padding: 0.5em 1em;
    border-radius: 0.75em;
    border: 0.3vmin solid #231651;
    color: #231651;
    background-color: #D6FFF6;
}

#play-btn:hover {
    color: #D6FFF6;
    background-color: #4DCCBD;
}

#show-instructions {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
}

#mode-instructions {
    font-size: 1em;
    font-weight: 100;
    text-align: center;

}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ BUG PLACEMENT \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

#game-screen {
    background-color: #D6FFF6;
    display: none; /*flex*/
    flex-direction: column;
    height: 100vh;
    gap: 5vh;
    justify-content: center;
    align-items: center;
}

#game-info {
    color: #4DCCBD;
    position: absolute;
    top: 2vmin;
    right: 5vmin;
    font-size: 2vmin;
    font-weight: 200;
}

#instructions {
    width: 50vmin;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
}

.action {
    color: #452ca0;
    font-weight: 500;
}

#boards {
    display: flex;
    gap: 5vh;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 4vmin);
    grid-template-rows: repeat(10, 4vmin);
    gap: 0.2vmin;
    place-items: center;
    padding: 3vmin;
    border-radius: 10%;
}

#bug-box {
    height: 42vmin;
    width: 15vmin;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#ready-btn {
    width: 15vmin;
    height: 100%;
    display: none;
    font-size: 3vmin;
    border-radius: 0.75vmin;
    border: 0.3vmin solid #231651;
    color: #231651;
    background-color: #7ab5dc;
}

#ready-btn:hover {
    color: #D6FFF6;
    background-color: #2374AB;
}

#cpu-board {
    display: none;
    background-color: #ffd0d0;
    border: 0.3vmin solid #ee9797;
    transition: 150ms;
}

#cpu-board.shrink {
    grid-template-columns: repeat(10, 2vmin);
    grid-template-rows: repeat(10, 2vmin);
    transition: 150ms;
    align-self: end;
}

#user-board {
    background-color: #b1e0ff;
    border: 0.3vmin solid #7ab5dc;
    transition: 150ms;
}

#user-board.shrink {
    grid-template-columns: repeat(10, 2vmin);
    grid-template-rows: repeat(10, 2vmin);
    transition: 150ms;
    align-self: end;
}

.cell {
    width: 100%;
    height: 100%;
    border-radius: 20%;
    --animate-duration: 150ms;
}

#cpu-board>.cell {
    background-color: #ee9797;
    border: 0.3vmin solid #ca7b7b;
}

#user-board>.cell {
    background-color: #7ab5dc;
    border: 0.3vmin solid #5f98bf;
}

#user-board.hover > .cell:hover {
    background-color: #85c4ee;
}

#user-board.hover > .cell:active {
    background-color: #7ab5dc;
}

#cpu-board.hover > .cell:hover {
    background-color: #ffa4a4;
}

#cpu-board.hover > .cell:active {
    background-color: #e99393;
}

.bug {
    margin: 0.5vmin;
    width: 3.7vmin;
    border-radius: 1.85vmin;
    transition: 150ms;
    filter: drop-shadow(0 0 0.25vmin black);
}

.bug.shrink {
    margin: 0.25vmin;
    width: 1.85vmin;
    border-radius: 0.93vmin;
    transition: 150ms;
}

.bug.horizontal {
    transform: rotate(90deg);
}

.selected {
    filter: brightness(1.5);
}

#play-again {
    display: none;
    font-size: 1.5em;
    padding: 0.5em 1em;
    border-radius: 0.75em;
    border: 0.3vmin solid #231651;
    color: #231651;
    background-color: #7ab5dc;
}

#play-again:hover {
    color: #D6FFF6;
    background-color: #2374AB;
}
