* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}

.board {
    height: 40vw;
    width: 40vw;
    display: grid;
    gap: 0.2vw;
    grid-template-columns: repeat(10, 4vw);
    grid-template-rows: repeat(10, 4vw);
    place-items: center;
}

.cell {
    background-color: pink;
    width: 100%;
    height: 100%;
}

#cpu-board > .cell:hover {
    background-color: rgb(222, 167, 176);
}

.bug.vertical {
    height: 100%;
}

.bug.horizontal {
    transform: rotate(90deg);
}

